<h1 class="title">タスク編集</h1>

<%# エラーメッセージ %>
<%= render "shared/error_message" %>

<%# フォーム %>
<div class="edit-form">
    <%= render "shared/form", task_model: @current_task %>
    <%= link_to tasks_path do %>
        <button>戻る</button>
    <% end %>
</div>