<header>
    <nav>
        <h1 class="title">タスク管理</h1>
        <div class="header">
            <% if user_signed_in? %>
                <div class="header-user-name">
                    <h1>こんにちは、<%= current_user.name %>さん！</h1>
                </div>
                <div class="header-logout">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                        <button>ログアウト</button>
                    <% end %>
                </div>
            <% end %>
        </div>
    </nav>
</header>