<header>
    <nav>
    <% if user_signed_in? %>
        <h1>こんにちは、<%= current_user.name %>さん！</h1>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to '今すぐログイン', new_user_session_path %>
    <% end %>
    </nav>
</header>